<header>
  <div class="container">
    <div class="d-flex align-items-center justify-content-between">
      <img src="./../assets/logo.svg" alt="Logo" width="72" />
      <ul class="d-flex align-items-center" *ngIf="!mLoggedIn">
        <li><a routerLink="/login">Login</a></li>
        <li><a routerLink="/signup">Signup</a></li>
      </ul>
      <div class="welcome-msg d-flex align-items-center" *ngIf="mLoggedIn">
        Welcome {{ mUserName }}!
        <img src="./../assets/log-out.svg" alt="Log Out" (click)="logOut()" />
      </div>
    </div>
  </div>
</header>
<div class="page-content d-flex align-items-center">
  <div class="container height-100">
    <router-outlet></router-outlet>
  </div>
</div>

<!-- Show This msg after every api call -->
<div class="snackbar show">
  <div class="msg">Hello. This is Saved !</div>
</div>
